################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/ConsultorioMedAPP/.vs/ConsultorioMedAPP/FileContentIndex/ad2e6631-1ff0-4d06-9686-c3e74dbad341.vsidx
/ConsultorioMedAPP/.vs/ConsultorioMedAPP/FileContentIndex/2d5da5d3-4e45-4816-8834-1947d2025164.vsidx
/ConsultorioMedAPP/.vs/ConsultorioMedAPP/FileContentIndex/ad2e6631-1ff0-4d06-9686-c3e74dbad341.vsidx
