@model ConsultorioMedAPP.Models.Citum

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Citum</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdCita" />
            <div class="form-group">
                <label asp-for="PacienteIdCedula" class="control-label"></label>
                <select asp-for="PacienteIdCedula" class="form-control" asp-items="ViewBag.PacienteIdCedula"></select>
                <span asp-validation-for="PacienteIdCedula" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DoctorIdCedula" class="control-label"></label>
                <select asp-for="DoctorIdCedula" class="form-control" asp-items="ViewBag.DoctorIdCedula"></select>
                <span asp-validation-for="DoctorIdCedula" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fecha" class="control-label"></label>
                <input asp-for="Fecha" class="form-control" />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hora" class="control-label"></label>
                <input asp-for="Hora" class="form-control" />
                <span asp-validation-for="Hora" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstadoCitaIdEstadoCita" class="control-label"></label>
                <select asp-for="EstadoCitaIdEstadoCita" class="form-control" asp-items="ViewBag.EstadoCitaIdEstadoCita"></select>
                <span asp-validation-for="EstadoCitaIdEstadoCita" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Precio" class="control-label"></label>
                <input asp-for="Precio" class="form-control" />
                <span asp-validation-for="Precio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaCreacion" class="control-label"></label>
                <input asp-for="FechaCreacion" class="form-control" />
                <span asp-validation-for="FechaCreacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaActualizacion" class="control-label"></label>
                <input asp-for="FechaActualizacion" class="form-control" />
                <span asp-validation-for="FechaActualizacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
